{% extends "layout.html" %}

{% block title %}Transpiration{% endblock %}

{% block content %}
  <h1>Question 2: What is the correct definition for transpiration?</h1>

 <form action={{ url_for("renderPage10") }} method="POST">
	The part of a vascular plant that's responsible for transporting and storing water/water soluble nutrients.<br>
	<input type="text" name="1questionThree" class="mt-3 mb-3"><br>
	The part of a plant that is responsible for transporting proteins, sugars, and other organic molecules.<br>
	<input type="text" name="2questionThree" class="mt-3 mb-3">
  <input type="submit" class="submit" value="Submit">
 </form> 



{% endblock %}